@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Para mais informações utilize o site </p> <a href="https://www.google.com">google.com</a>
<p>@ViewData["aluno"]</p>
